:root {
  --bg: #ecf0f1;
}

Html body {
  background-color: var(--bg);
  padding: 0;
  margin: 0;

}

* {
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 0 1rem;
  box-sizing: border-box;
}

.navbar .logo {
  font-size: 2rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  font-style: italic;
  margin: 0 2rem;
  color: #3d535f;
}

.navbar .links-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem;
  width: 20%;
  /* margin: 0 0 0 7rem; */
}
.navbar .links-nav a {
  display: inline-block;
  font-size: 1rem;
  margin: 0 3rem;
  text-decoration: none;
  color: #3d535f;
}
.navbar .links-nav a:hover,
.navbar .links a:hover {
  color: #2ecc71;
}
.navbar .links a {
  color: #3d535f;
  padding: 0 0.3rem;
}
.navbar .links-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #2ecc71;
  transform: scaleX(0);
  transition: 0.2s linear;
}
.navbar .links-nav a:hover::after {
  transform: scaleX(0.5);
}

#hamburger-menu {
  display: none;
}

.navbar .navbar-extra a {
  color: #3d535f;
  padding: 0 0.3rem;
}
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  background: linear-gradient(0deg, #ecf0f1 2%, rgba(134, 125, 31, 0) 50%);
  bottom: 0;
}

.cols {
  margin: 0 0 0 2rem;
  line-height: 1.6rem;
}
.cols.cols0 .topline {
  /* margin: 2rem 0 0 0 ; */
  font-size: 3em;
  font-weight: 700;
  font-family: "Archivo Black", sans-serif;
  color: #3d535f;
}
.cols.cols0 h1 {
  color: #3d535f;
  font-size: 2rem;
}
.cols.cols0 .multiText {
  color: #2ecc71;
  font-size: 2rem;
}
.cols.cols0 p {
  font-size: 1.2rem;
  color: #162127;
  font-size: 2.2rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.1);
}
.cols0 .btn {
  margin: 4rem 0 0 0;
}
.cols0 .btn a {
  background-color: #3d535f;
  color: aliceblue;
  padding: 0.7rem 1.5rem;
  text-decoration: none;
  font-size: 2em;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
}
.cols0 .btn a:hover {
  background-color: #2ecc71;
}

/* blog  start */
.main-blogs {
  background: #ecf0f1;
}
.main-blogs h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: "Archivo Black", sans-serif;
  color: #3d535f;
  padding-top: 3rem;
}

.blog {
  /* height: 80vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  padding: 0 0 5rem 0;
  overflow: hidden;
}
.blog .card {
  height: 27rem;
  width: 40rem;
  background-color: #f4f9f8;
  border-radius: 12px;
  margin: 1rem 2rem;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
}
.blog .card h2 {
  text-align: center;
  font-size: 2.6rem;
}
.blog .card h4 {
  text-align: center;
}

.blog .card .article {
  padding: 0rem 0rem 1rem 1rem;
}

.servis,
.contact {
  background-color: #2ecc71;
}
.servis h2,
.contact h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 700;
  font-family: "Archivo Black", sans-serif;
  color: #fbfeff;
  padding-top: 3rem;
}
/* blog end */

/*  service*/
.servis-menu {
  display: flex;
  padding: 1rem 3rem;
  box-sizing: border-box;
}
.servis-menu .servis-satu,
.servis-dua,
.servis-tiga {
  padding: 1rem;
}

.servis-menu .servis-satu a,
.servis-dua a,
.servis-tiga a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: center;
  padding: 2rem 2.5rem;
  box-sizing: border-box;
}
.servis-menu .servis-satu a .icon,
.servis-dua a .icon,
.servis-tiga a .icon {
  display: flex;
  width: 100%;
  margin: 2rem 1rem;
  justify-content: center;
  box-sizing: border-box;
}
.servis-menu .servis-satu a .icon i,
.servis-dua a .icon i,
.servis-tiga a .icon i {
  height: 100px;
}

/* contact */
.contact {
  height: 105vh;
  position: relative;
  top: -2.5rem;
}
.contact-main {
  display: flex;
  width: 100%;
  justify-content: center;
}

.container {
  max-width: 800px;
  background: #fff;
  width: 800px;
  padding: 25px 40px 10px 40px;
  bbox-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
  border-radius: 12px;
}

.container form {
  padding: 30px 0 0 0;
}
.container form .form-row {
  display: flex;
  margin: 32px 0;
}
form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
form .form-row .textarea {
  height: 70px;
}
.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #3d535f;
}
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #2ecc71;
}
.textarea textarea {
  resize: none;
  padding-top: 10px;
}
.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}
.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #2ecc71;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}
.submit-btn .input-data {
  overflow: hidden;
  height: 45px !important;
  width: 25% !important;
}
.submit-btn .input-data .inner {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: -webkit-linear-gradient(
    right,
    #fbfeff,
    #3d535f,
    #fbfeff,
    #3d535f
  );
  transition: all 0.4s;
}
.submit-btn .input-data:hover .inner {
  left: 0;
}
.submit-btn .input-data input {
  background: none;
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

  /* footer */
  footer {
    background-color: var(--bg);
    text-align: center;
    height: 10rem;
    padding: 1rem 0 3rem;
    margin-top: 3rem;
    color: #3d535f;
  }

  footer .socials a {
    color: #3d535f;
    margin: 1rem;
  }
  footer .socials a:hover,
  footer .links a:hover {
    color: #2ecc71;
  }
  footer .links a {
    color: #3d535f;
    padding: 0.7rem 1rem;
    text-decoration: none;
  }

  footer .credit a {
    text-decoration: none;
    color: #2ecc71;
    font-weight: 700;
  }
/* responsive */

/* ukuran laptop */
@media (max-width: 1366px) {
  html {
    font-size: 90%;
  }
}

/* ukuran tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #hamburger-menu {
    display: inline-block;
  }

  .navbar .links-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #3d535f;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .navbar .links-nav.active {
    right: 0;
  }

  .navbar .links-nav a {
    width: 100%;
    color: var(--bg);
    display: block;
    margin: 0.7rem;
    padding: 0.5rem;
    font-size: 1.8rem;
  }
  .navbar .links {
    display: none;
  }
  .navbar .links-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .links-nav a:hover::after {
    transform: scaleX(0.2);
  }
  .cols {
    margin-top: -15rem;
  }
  .blog {
    flex-wrap: wrap;
  }
  .blog .card.card1 {
    margin-top: 2rem;
  }
  .blog .card {
    margin: 2rem 2rem;
    width: 80rem;
    height: 50rem;
  }
  .blog .card h4 {
    font-size: 1.7rem;
  }
  .blog .card .article p {
    font-size: 1.5rem;
  }

  .servis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .servis h2 {
    width: 100%;
  }
  .servis-menu {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    width: 80%;
  }
  .servis-menu .servis-satu,
  .servis-dua,
  .servis-tiga {
    padding: 1rem;
  }

  .servis-menu .servis-satu a,
  .servis-dua a,
  .servis-tiga a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.2rem;
    text-align: center;
  }



  /* responsive mobile */
  /* mobile */
  @media (max-width: 450px) {
    html {
      font-size: 70%;
    }
  }
}

/* contact responsive */
@media (max-width: 700px) {
  .contact {
    height: 100vh;
  }
  .contact-main {
    padding: 0.5rem;
    box-sizing: border-box;
  }
  .container .text {
    font-size: 30px;
  }
  .container form {
    padding: 10px 0 0 0;
  }
  .container form .form-row {
    display: block;
  }
  form .form-row .input-data {
    margin: 35px 0 !important;
  }
  .submit-btn .input-data {
    width: 40% !important;
  }
}
